* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #181818;
  font-family: 'Krub', sans-serif;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
}

button {
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 57px;
  padding-right: 57px;
}